@charset "utf-8"

body{
	font font-family: font-family: 'Raleway', sans-serif;
	overflow: hidden;
}
*{
	margin: 0px;
	padding: 0px;
}
#nav{
	background:  transparent;
	width: 100%;
	height: 100px;
	line-height: 60px;
}
#nav h1{
	float: left;
}
#nav h1 a{
	text-decoration: none;
	color: white;
	font-family: 'Dancing Script', cursive;

}
#teamcircle{
	border-radius: 120px;
	height: 200px;
	width: 200px;
	border: 1px solid aqua;
	overflow: hidden;
	display: inline-block;
}
#teamcircle img{
	height: 200px;
	width: 200px;
}
.scroll_to{
	scroll-behavior: smooth;
}
#nav ul{
	float: left;
}
#nav ul li{
	size: inherit;
	margin-left: 10px;
	border-top: 1px solid aqua;
	text-decoration: none;
	list-style-type: none;
	display: inline-block;
	margin-top: 5px;
}
#nav ul li a{
	text-decoration: none;
	color: white;
	padding: 20px;
	font-family: Arial;
	font-size: 25px;
	font-weight: bold;
}
#nav img{
	float: left;
	margin-top: 10px;
	margin-left: 23px;
}
#nav ul li :hover{
	background: aqua;
	transition: all ease-in 0.40s;
	opacity : 0.1;
}
#hello{
	background: transparent;
}
#hello1{
	background: black;
	height: 5px;
}
#hello2{
	background: url(../img/ai.jpeg);
	height: 710px;
	width : 100%;
	margin-top: -5px;
	margin-left: -5px;
}
#hello2 h1 a{
	float: left;
	font-size: 35px;
	text-decoration: none;
	color: white;
	font-family: Arial;
}
#aboutback{
	background-color: transparent;
}
#about{
	text-align: right;
	color: white;
	font-size: 20px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	margin-left: 50%;
	margin-right: 20px;
	display: inline-block;
}
#about_head{
	text-align: right;
	color: white;
	font-size: 50px;
	font-family: Arial, Helvetica, sans-serif; 
	margin-right: 20px;
	margin-left: 81.1%;
	display: inline-block;
}
#team_head{
	text-align: center;
	color: blue;
	font-size: 50px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
}
#teamback{
	background-color: black;
}
#teamLead{
	border: 1px solid aqua;
	height:250px;
	width:200px;
	margin-left: 41.65%;
}
#teamdesig{
	text-decoration: none;
	color: white;
	font-family: 'Times New Roman';
	font-size: 30px;
	margin-top: -5px;
}
#teamdesignation{
	display: inline;
	color: white;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 25px;
}

#foot{
	background-color: black;
}
#foot img{
	margin-left: 10px;
	margin-top: 10px;
	display: inline-block;
}
#footname{
	font-size: 40px;
	font-family: Arial;
	color: white;
	margin-left: 25px;
}