<!DOCTYPE html>
		<html lang="en">
			<head>
				<meta charset="utf-8">	
				<title>
					Team | HaleAI
				</title>
				<meta name="viewport" content="width=device-width,initial-scale=1">
				<link rel="shortcut icon" href="/static/assets/img/logo.png">
				<link rel="stylesheet" type="text/css" href="/static/assets/css/style.css">
			</head></a>
			<body>
				<nav class="navbar navbar-expand-md navbar-dark navigation navpad nopadding">
					<a href="/" class"navbar-brand">
						<img src="static/assets/img/logo.png" height="23%" width="23%">
					</a>
					<center>
						<button class="navbar-toggler" data-toggle="collapse" data-target="#navmenu">
							<span class="navbar-toggler-icon"></span>
						</button>
					</center>
					<div class="collapse navbar-collapse" id="navmenu">
						<ul class="navbar-nav ml-auto">
							<li class="nav-item my-nav-box">
								<a href="/" class="nav-link my-nav-link">
									<center>
										Home
									</center>
								</a>
							</li>&nbsp;&nbsp;
							<li class="nav-item my-nav-box">
								<a href="/" class="nav-link my-nav-link">
									<center>
										Investors
									</center>
								</a>
							</li>&nbsp;&nbsp;
							<li class="nav-item my-nav-box">
								<a href="/" class="nav-link my-nav-link">
									<center>
										Research
									</center>
								</a>
							</li>
							&nbsp;&nbsp;
							<li class="nav-item my-nav-box">
								<a href="/" class="nav-link my-nav-link">
									   <center>
										Career
									</center>
								</a>
							</li>&nbsp;&nbsp;
							<li class="nav-item my-nav-box">
								<a href="/" class="nav-link my-nav-link">
									<center>
										Partner
									</center>
								</a>
							</li>&nbsp;&nbsp;
							<li class="nav-item my-nav-box">
								<a href="/login" class="nav-link my-nav-link">
									<center>
										Login
									</center>
								</a>
							</li>
						</ul>
					</div>
				</nav>
				<div id="fixedconstruction">
					<button class="constructionbutton" onclick="closePopUp()">
						X
					</button>
					<img src="/static/assets/img/gif/construction.gif" width="20%">
					<div class="constructiontext">
						Our site is still under development. Some features may not be available at the moment.
					</div>
					
				</div>
				<script src="/static/assets/js/myscript.js"></script>
				<div id="teamback">
					<div class="container">
						<div class ="row">
							<div class="col">
								<br><br>
								<h1 id="team_head">
									Our Team
								</h1>
								<br>
								<br>
							</div>
						</div>
						<div class ="row">
							<div class="col order-xs-1 order-sm-1 order-md-2" id="snehil" onmouseover="myLine(this);" onmouseout="myRemoveLine(this);">
								<center>
									<div id="teamcircle">
										<img src="/static/assets/img/team/Snehil.jpg">
								</div>
								</center>
								<div id="teamdesig">
									<div class ="row">
										<div class="col">
											<div class="row">
												<div class="col name">
													Snehil Kumar
												</div>
											</div>
											<div class="row">
												<div class="col justify-content-center">
													CEO & CTO
													<br>
													<a href="https://www.linkedin.com/in/snehil-kumar-88b609142/">
														<img src="/static/assets/img/linkedin.png" height="25" width="25">
													</a>
													<br>
													A researcher, author, tech-speaker and professional in the field of AI. Have a vision of changing the world with AI. Have been practicing AI with industries around the globe and papers have been accepted at international conferences.
												</div>
											</div>
										</div>
									</div>
								</div>
								<br>
							</div>
							<div class="col order-xs-2 order-sm-2 order-md-1" id="amit" onmouseover="myLine(this);" onmouseout="myRemoveLine(this);" >
								<center>
									<div id="teamcircle">
										<img src="/static/assets/img/team/AmitKumar.jpg">
									</div>
								</center>
								<div id="teamdesig">
									<div class ="row">
										<div class="col">
											<div class="row">
												<div class="col name">
													Amit Kumar
												</div>
											</div>
											<div class="row">
												<div class="col justify-content-center">
													Mentor
													<br>
													<a href="https://www.linkedin.com/in/amit-kumar-6a215b36/">
														<img src="/static/assets/img/linkedin.png" height="25" width="25">
													</a>
													<br>
													Naval Officer with 14 years of hands on experience in the specialised Naval and Port operations, General Administration and Security. Looking forward to leverage the Armed Forces experience of Team building and Resource management to make a world class AI enabled healthcare entity.
												</div>
											</div>
										</div>
									</div>
								</div>
								<br>
							</div>
							<div class="col order-xs-3 order-sm-3 order-md-3" id="shubhang" onmouseover="myLine(this);" onmouseout="myRemoveLine(this);">
								<center>
									<div id="teamcircle">
										<img src="/static/assets/img/team/ShubhangNandan.jpg">
									</div>
								</center>
								<div id="teamdesig">
									<div class ="row">
										<div class="col">
											<div class="row">
												<div class="col name">
													Shubhang Nandan
												</div>
											</div>
											<div class="row">
												<div class="col justify-content-center">
													COO
													<br>
													<a href="https://www.linkedin.com/in/shubhang-nandan-b2444b12a/">
														<img src="/static/assets/img/linkedin.png" height="25" width="25">
													</a>
													<br>
													An IIM- Calcutta alumni having 15+ years of experience in different verticals of the organisation like Business Development, Sales & Revenue, Project Management and Plant Operation mostly in Power Sector. Also helped two start-ups, one in food processing and other in spiritual hospitality, in successfully implementing their projects.
												</div>
											</div>
										</div>
									</div>
								</div>
								<br>
							</div>
						</div>
						<br>
						<div class ="row">
							<div class="col" id="divyam" onmouseover="myLine(this);" onmouseout="myRemoveLine(this);">
								<center>
									<div id="teamcircle">
										<img src="/static/assets/img/team/Divyam.jpg">
									</div>
								</center>
								<div id="teamdesig">
									<div class ="row">
										<div class="col">
											<div class="row">
												<div class="col name">
													Divyam Tiwari
												</div>
											</div>
											<div class="row">
												<div class="col justify-content-center">
													Content team lead
													<br>
													<a href="https://www.linkedin.com/in/divyam-bb7411184">
														<img src="/static/assets/img/linkedin.png" height="25" width="25">
													</a>
													<br>
													BTech biotechnology graduate with a passion for writing and penchant for learning about everything.  I would like to use my knowledge and skills to contribute my part towards helping the society.
												</div>
											</div>
										</div>
									</div>
								</div>
								<br>
							</div>
							<div class="col" id="suvashish" onmouseover="myLine(this);" onmouseout="myRemoveLine(this);">
								<center>
									<div id="teamcircle">
										<img src="/static/assets/img/team/Suvashish.jpg">
									</div>
								</center>
								<div id="teamdesig">
									<div class ="row">
										<div class="col">
											<div class="row">
												<div class="col name">
													Suvasish Pandey
												</div>
											</div>
											<div class="row">
												<div class="col justify-content-center">
													Lead Bio-sciences Scientist
													<br>
													<a href="https://in.linkedin.com/in/suvashish-pandey-a5b0a719b">
														<img src="/static/assets/img/linkedin.png" height="25" width="25">
													</a>
													<br>
													I am a newly B. Tech graduate student specialized in  Bio-technology from Vellore Institute of Technology. I am always fueled with passion for learning new things, considering myself as 'forever student' and love doing new research and implement them for improving humanity.
												</div>
											</div>
										</div>
									</div>
								</div>
								<br>
							</div>
							<div class="col" id="thejaswi" onmouseover="myLine(this);" onmouseout="myRemoveLine(this);">
								<center>
									<div id="teamcircle">
										<img src="/static/assets/img/team/Thejaswi.jpg">
									</div>
								</center>
								<div id="teamdesig">
									<div class ="row">
										<div class="col">
											<div class="row">
												<div class="col name">
													Thejaswi B K
												</div>
											</div>
											<div class="row">
												<div class="col justify-content-center">
													Lead Devops engineer
													<br>
													<a href="https://www.linkedin.com/in/thejaswibk">
														<img src="/static/assets/img/linkedin.png" height="25" width="25">
													</a>
													<br>
													Software Engineer at Tech Mahindra, with 3 years of work experience in testing applications for retail and networking domains. Being curious about the DevOps culture and the value it's adding for IT organizations recently, diving deep into and loving it.
												</div>
											</div>
										</div>
									</div>
								</div>
								<br>
							</div>
						</div>
						<br>
						<div class ="row">
							<div class="col" id="anirudh" onmouseover="myLine(this);" onmouseout="myRemoveLine(this);">
								<center>
									<div id="teamcircle">
										<img src="/static/assets/img/team/AnirudhBelwadi.jpg">
									</div>
								</center>
								<div id="teamdesig">
									<div class ="row">
										<div class="col">
											<div class="row">
												<div class="col name">
													Anirudh Belwadi
												</div>
											</div>
											<div class="row">
												<div class="col justify-content-center">
													Full stack Developer
													<br>
													<a href="https://www.linkedin.com/in/anirudh-belwadi-7a8707182/">
														<img src="/static/assets/img/linkedin.png" height="25" width="25">
													</a>
													<br>
													I am a second-year engineering student pursuing B.E. in Computer Engineering at SIES GST,Navi Mumbai. The raison d'être of my life is to be determined towards the software world and its development for the betterment in the standard of living of the society.
												</div>
											</div>
										</div>
									</div>
								</div>
								<br>
							</div>
							<div class="col" id="saili" onmouseover="myLine(this);" onmouseout="myRemoveLine(this);">
								<center>
									<div id="teamcircle">
										<img src="/static/assets/img/team/Saili.jpg">
									</div>
								</center>
								<div id="teamdesig">
									<div class ="row">
										<div class="col">
											<div class="row">
												<div class="col name">
													Saili Myana
												</div>
											</div>
											<div class="row">
												<div class="col justify-content-center">
													AI Developer
													<br>
													<a href="https://www.linkedin.com/in/saili-myana">
														<img src="/static/assets/img/linkedin.png" height="25" width="25">
													</a>
													<br>
													I'm pursuing B.Tech in Electrical Engineering from IIT Madras. Being a Deep Learning enthusiast, I have a keen interest in application of Deep Learning and AI to the society.
												</div>
											</div>
										</div>
									</div>
								</div>
								<br>
							</div>
							<div class="col" id="sairithvik" onmouseover="myLine(this);" onmouseout="myRemoveLine(this);">
								<center>
									<div id="teamcircle">
										<img src="/static/assets/img/team/K.SaiRithvik.jpg">
									</div>
								</center>
								<div id="teamdesig">
									<div class ="row">
										<div class="col">
											<div class="row">
												<div class="col name">
													Sai Rithvik Kanakamedala
												</div>
											</div>
											<div class="row">
												<div class="col justify-content-center">
													AI Developer
													<br>
													<a href="http://linkedin.com/in/rithvik7">
														<img src="/static/assets/img/linkedin.png" height="25" width="25">
													</a>
													<br>
													I am a second-year engineering student pursuing B.Tech in electrical engineering at IIT Madras. I am an AI enthusiast looking forward to contribute more towards the society with various applications of AI.
												</div>
											</div>
										</div>
									</div>
								</div>
								<br>
							</div>
						</div>
						<br>
						<div class ="row">
							<div class="col" id="prince" onmouseover="myLine(this);" onmouseout="myRemoveLine(this);">
								<center>
									<div id="teamcircle">
										<img src="/static/assets/img/team/PrincePandey.jpg">
									</div>
								</center>
								<div id="teamdesig">
									<div class ="row">
										<div class="col">
											<div class="row">
												<div class="col name">
													Prince Pandey
												</div>
											</div>
											<div class="row">
												<div class="col justify-content-center">
													Full stack Intern
													<br>
													<a href="https://www.linkedin.com/in/prince-pandey-5a76b0178/">
														<img src="/static/assets/img/linkedin.png" height="25" width="25">
													</a>
													<br>
													I am  pursuing B.Tech in computer science engineering at Sharad University.I am a full stack intern at HaleAI and also a Data science ethusiast and l like to learning updated technologies related to computer science.
												</div>
											</div>
										</div>
									</div>
								</div>
								<br>
							</div>
							<div class="col" id="manas" onmouseover="myLine(this);" onmouseout="myRemoveLine(this);">
								<center>
									<div id="teamcircle">
										<img src="/static/assets/img/team/Manas.jpg">
									</div>
								</center>
								<div id="teamdesig">
									<div class ="row">
										<div class="col">
											<div class="row">
												<div class="col name">
													Manas Churi
												</div>
											</div>
											<div class="row">
												<div class="col justify-content-center">
													AI Research Intern
													<br>
													<a href="https://www.linkedin.com/in/manaschuri11">
														<img src="/static/assets/img/linkedin.png" height="25" width="25">
													</a>
													<br>
													I'm an undergraduate at IIT Bombay pursuing B.Tech in Mechanical Engineering. I am enthusiastic and challenge-driven towards the application of AI in solving real-life problems. Interested in Entrepreneurship as well.
													<br>
												</div>
											</div>
										</div>
									</div>
								</div>
								<br>
							</div>
							<div class="col" id="ujjawal" onmouseover="myLine(this);" onmouseout="myRemoveLine(this);">
								<center>
									<div id="teamcircle">
										<img src="/static/assets/img/team/UjjawalGupta.jpg">
									</div>
								</center>
								<div id="teamdesig">
									<div class="row">
										<div class="col">
											<div class="row">
												<div class="col name">
													Ujjawal Gupta
												</div>
											</div>
											<div class="row">
												<div class="col justify-content-center">
													AI Research Intern
													<br>
													<a href="https://www.linkedin.com/in/ujjawal-gupta-015ba6168">
														<img src="/static/assets/img/linkedin.png" height="25" width="25">
													</a>
													<br>
													Pursuing B.tech in Computer Science and Engineering from NIT Hamirpur, currently in third year of my graduation. I am 20 year old and enthusiastic about learning technologies related to computer science. Interested in Artificial Intelligence, Data Science and problem solving. Love solving algorithmic challenges.
													<br>
												</div>
											</div>
										</div>
									</div>
								</div>
								<br>
							</div>
						</div>
						<br>
						<div class ="row">
							<div class="col" id="rahul" onmouseover="myLine(this);" onmouseout="myRemoveLine(this);">
								<center>
									<div id="teamcircle">
										<img src="/static/assets/img/team/RahulKumarMishra.jpg">
									</div>
								</center>
								<div id="teamdesig">
									<div class ="row">
										<div class="col">
											<div class="row">
												<div class="col name">
													Rahul Kumar Mishra
												</div>
											</div>
											<div class="row">
												<div class="col justify-content-center">
													Business Development Intern
													<br>
													<a href="https://www.linkedin.com/in/rahul-mishra-1b4b18169">
														<img src="/static/assets/img/linkedin.png" height="25" width="25">
													</a>
													<br>
													An analytical engineer turned management student coupled with vision and drive of entrepreneur. Currently observing and identifying details of businesses so as to create and impact and grow sustainably.
												</div>
											</div>
										</div>
									</div>
								</div>
								<br>
							</div>
							<div class="col" id="pushkar" onmouseover="myLine(this);" onmouseout="myRemoveLine(this);">
								<center>
									<div id="teamcircle">
										<img src="/static/assets/img/team/PushkarKumar.jpg">
									</div>
								</center>
								<div id="teamdesig">
									<div class ="row">
										<div class="col">
											<div class="row">
												<div class="col name">
													Pushkar Kumar
												</div>
											</div>
											<div class="row">
												<div class="col justify-content-center">
													Business Development Intern
													<br>
													<a href="https://www.linkedin.com/in/pushkar-kumar-a24775191">
														<img src="/static/assets/img/linkedin.png" height="25" width="25">
													</a>
													<br>
													I am a BSc Life Science Graduate and currently a second year student of MBA in Pharmaceutical Management from School of Business Management, NMIMS Mumbai. My MBTI profile type is ENFP.
													<br>
												</div>
											</div>
										</div>
									</div>
								</div>
								<br>
							</div>
							<div class="col" id="vikyath" onmouseover="myLine(this);" onmouseout="myRemoveLine(this);">
								<center>
									<div id="teamcircle">
										<img src="/static/assets/img/team/Vikyath.jpg">
									</div>
								</center>
								<div id="teamdesig">
									<div class ="row">
										<div class="col">
											<div class="row">
												<div class="col name">
													Sai Vikyath Komati Reddy
												</div>
											</div>
											<div class="row">
												<div class="col justify-content-center">
													Devops Intern
													<br>
													<a href="https://www.linkedin.com/in/sai-vikyath-komatireddy-bb3216146/">
														<img src="/static/assets/img/linkedin.png" height="25" width="25">
													</a>
													<br>
													I am a sophomore pursuing B.Tech in computer science and engineering at IIT Guwahati. I am an AI enthusiast looking forward to contribute more towards the society.
													<br>
												</div>
											</div>
										</div>
									</div>
								</div>
								<br>
							</div>
						</div>
					</div>
					<br>
					<br>
				</div>
				<div id="freetrial">
					<div class="container my-container">
						<form id="trailform" action="/register" method="post">
							<div class="row justify-content-center align-items-center">
								<div class="col-xs-12 col-sm-12 col-md-4 col-xl-3 my-col">
									<div id="trialtext">
										<center>
											Sign Up for a Free trial!
										</center>
									</div>
								</div>
								<div class="col-xs-12 col-sm-12 col-md-4 col-xl-3 my-col">
									<center>
										<input type="email" name="emid" id="texttrial" placeholder="Email address">
									</center>
								</div>
								<div class="col-xs-12 col-sm-12 col-md-4 col-xl-3 my-col">
									<center>
										<button type="submit" id="trialbutton">
											Sign Up
										</button>
									</center>
								</div>
							</div>
						</form>
					</div>
					<hr id="freetrialruler">
				</div>
				<footer id="foot">
					<br>
					<center>
						<a href="/">
							<img src="/static/assets/img/logo.png" height="20%" width="20%">
						</a>
					</center>
					<div id="footname">
						<center>
							HaleAI
						</center>
					</div>
					<br><br>
					<div id="socialmediahead">
						<ul>IMPORTANT LINKS<br>
							<li><a href="/">Home</a></li>
							<li><a href="">Investors</a></li>
							<li><a href="">Research</a></li>
							<li><a href="">Career</a></li>
							<li><a href="">Partner</a></li>
							<li><a href="/login">Login</a></li>
						</ul>
						<ul>GET IN TOUCH<br>
							<li><a href="mailto:haleai1994@gmail.com">Email</a></li>
							<li><a href="tel:+917004171728">Contact</a></li>
						</ul>
						<ul id="socialmedia">SOCIAL MEDIA<br>
							<li><a href="https://www.instagram.com/haleai03/"><img src="/static/assets/img/insta.jpg" height="30" width="30"></a></li>&nbsp;
							<li><a href="https://www.linkedin.com/company/hale-ai/LinkedIn"><img src="/static/assets/img/linkedin.png" height="30" width="30"></a></li>&nbsp;
							<li><a href="https://www.facebook.com/haleai/"><img src="/static/assets/img/facebook.jpg" height="30" width="30"></a></li>
						</ul>
						<ul>PUBLICATIONS<br>
							<li><a href="https://dl.acm.org/doi/abs/10.1145/3387168.3387206">Diabetic Retinopathy Diagnosis</a></li>
						</ul>
					</div>
					<br>
					<center>
						<hr id="footruler">
					</center>
					<br><br><br><br>
				</footer>
				<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
			</body>
		</html>